@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-12">

        <div class="about">
            <p class="lead">Current room temperature is <span id="temp"></span> °C </p>
        </div>

        <canvas id="canvas" style="width: 100% !important;" height="550"></canvas>

    </div>

    <div class="col-md-12">
        <div id="historyCharts">

        </div>
    </div>

</div>
